.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  h2 {
    font-family: "Lazydog";
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Event sections */

.sections {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  max-width: 80%;
}

.section {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.right-align {
  text-align: right;
}

.section-text {
  border: 1px solid purple;
  flex: 0 0 40%;
}

/* TODO images opposite of text */

.section-images {
  border: 1px solid green;
  flex: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
}

/* Social/Connect */

.about-connect {
  padding: 2rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.social-button {
  color: var(--white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.discord-button {
  background-color: #5865f2;
  &:hover {
    background-color: #4752c4;
  }
}

.instagram-button {
  background-color: #e1306c;
  &:hover {
    background-color: #c13584;
  }
}