.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  display: flex;
  flex-direction: column;
}

/* Event sections */

.sections {
  margin: 4rem 0;
  max-width: 72%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section {
  display: flex;
  align-items: center;
}

.section-text {
  flex: 0 0 40%;
}

.section-images {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.reverse > * {
  text-align: right;
  justify-content: flex-start;
}

