.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
  margin: 10% auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  max-width: 600px;
  background-color: var(--white);
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.popup-buttons {
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.popup-instagram-icon {
  width: 1.4rem;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.15);
  }
}

.popup-close-icon {
  cursor: pointer;
}

.popup-prompt {
  margin-top: 1rem;
}

/* Aristani */
.popup-background-aristani {
  background-color: #ffebeb;
}

.popup-title-aristani {
  color: #ffadad;
}

/* Alexis */
.popup-background-alexis {
  background-color: #ffedd6;
}

.popup-title-alexis {
  color: #ffca85;
}

/* Lokesh */
.popup-background-lokesh {
  background-color: #ebf2ff;
}

.popup-title-lokesh {
  color: #85afff;
}

/* Thomas */
.popup-background-thomas {
  background-color: #fdffd6;
}

.popup-title-thomas {
  color: #d5e000;
}

/* Sofia */
.popup-background-sofia {
  background-color: #eeffeb;
}

.popup-title-sofia {
  color: #97ff85;
}

/* Daron */
.popup-background-daron {
  background-color: #dcd6ff;
}

.popup-title-daron {
  color: #9785ff;
}

/* Charlie */
.popup-background-charlie {
  background-color: #d6fcff;
}

.popup-title-charlie {
  color: #00d1e0;
}

/* Ryan */
.popup-background-ryan {
  background-color: #ffebff;
}

.popup-title-ryan {
  color: #ffadff;
}

/* Jason */
.popup-background-jason {
  background-color: #ffedd6;
}

.popup-title-jason {
  color: #ffca85;
}

/* Kristina */
.popup-background-kristina {
  background-color: #ffebeb;
}

.popup-title-kristina {
  color: #ffadad;
}