.polaroid-gallery-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 cards per row */
  gap: 2rem;
  padding: 2rem;
  justify-items: center; /* centers each card inside its grid cell */
}

.polaroid-events {
  max-width: 500px; /* Adjust based on how many per row */
  background-color: white;
  padding: 1rem 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
  transition: transform 0.2s;
  flex-shrink: 0;
}

.polaroid-events:hover {
  transform: scale(1.05);
}

.polaroid-events img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
