@font-face{font-family:"Lazydog";src:url("../fonts/Lazydog.otf") format("opentype");font-display:swap}
@font-face{font-family:"Chivo";src:url("../fonts/Chivo-Regular.ttf") format("truetype");font-style:normal;font-display:swap}
@font-face{font-family:"Chivo";src:url("../fonts/Chivo-Italic.ttf") format("truetype");font-style:italic;font-display:swap}
