@import "tailwindcss";

/* Global CSS variables */

:root {
  --tan: #fff6eb;
  --green: #2e8b57;
  --green-dark: #256e47;
  --white: #fff;
  --black: #333;

  --header-height: 4rem;
  --outside-padding: 2rem;
}

/* Fonts */

@font-face {
  font-family: "Lazydog";
  src: url("/fonts/Lazydog.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("/fonts/Chivo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("/fonts/Chivo-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; /* Italic */
}

/* Content */

body {
  font-family: "Chivo";
  background: var(--tan);
}

main {
  color: var(--black);
  min-height: calc(100vh - 2 * var(--outside-padding));
  padding: var(--outside-padding);
}

h1 {
  font-family: "Lazydog";
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-family: "Lazydog";
  font-size: 2.5rem;
}

h3 {
  font-family: "Lazydog";
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

/* Components */

.button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.text-center {
  text-align: center;
}
