.home {
  height: calc(100vh - 2 * var(--header-height) - 2 * var(--outside-padding));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.cta-button {
  font-family: "Lazydog";
  background-color: var(--green);
  color: var(--white);
  &:hover {
    background-color: var(--green-dark);
  }
}

.socials {
  padding: 2rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.social-button {
  color: var(--white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.discord-button {
  background-color: #5865f2;
  &:hover {
    background-color: #4752c4;
  }
}

.instagram-button {
  background-color: #e1306c;
  &:hover {
    background-color: #c13584;
  }
}