.board-header {
  text-align: center;
}

.instagram-link {
  margin-top: 1.5rem;
  text-align: center;
}

.instagram-icon {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.15);
  }
}

/* ARISTANI */
.popup-content.aristani-style {
  background-color: #ffebeb;
  padding: 2rem;
  border-radius: 1rem;
}

.aristani-name {
  color: #ffadad;
  font-size: 30px;
}

/* ALEXIS */
.popup-content.alexis-style {
  background-color: #ffedd6;
  padding: 2rem;
  border-radius: 1rem;
}

.alexis-name {
  color: #ffca85;
  font-size: 30px;
}

/* LOKESH */
.popup-content.lokesh-style {
  background-color: #ebf2ff;
  padding: 2rem;
  border-radius: 1rem;
}

.lokesh-name {
  color: #85afff;
  font-size: 30px;
}

/* THOMAS */
.popup-content.thomas-style {
  background-color: #fdffd6;
  padding: 2rem;
  border-radius: 1rem;
}

.thomas-name {
  color: #d5e000;
  font-size: 30px;
}

/* SOFIA */
.popup-content.sofia-style {
  background-color: #eeffeb;
  padding: 2rem;
  border-radius: 1rem;
}

.sofia-name {
  color: #97ff85;
  font-size: 30px;
}

/* DARON */
.popup-content.daron-style {
  background-color: #dcd6ff;
  padding: 2rem;
  border-radius: 1rem;
}

.daron-name {
  color: #9785ff;
  font-size: 30px;
}

/* CHARLIE */
.popup-content.charlie-style {
  background-color: #d6fcff;
  padding: 2rem;
  border-radius: 1rem;
}

.charlie-name {
  color: #00d1e0;
  font-size: 30px;
}

/* RYAN */
.popup-content.ryan-style {
  background-color: #ffebff;
  padding: 2rem;
  border-radius: 1rem;
}

.ryan-name {
  color: #ffadff;
  font-size: 30px;
}

/* JASON */
.popup-content.jason-style {
  background-color: #ffedd6;
  padding: 2rem;
  border-radius: 1rem;
}

.jason-name {
  color: #ffca85;
  font-size: 30px;
}

/* KRISTINA */
.popup-content.kristina-style {
  background-color: #ffebeb;
  padding: 2rem;
  border-radius: 1rem;
}

.kristina-name {
  color: #ffadad;
  font-size: 30px;
}
