.membership-boxes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.membership-box {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
